# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### **Objectives:**

- List popular environments for data science
- List popular libraries for data science
- List popular languages for Data Science

#### Some of the popular languages that Data Scientists use are:

1. Phyton
2. R
3. SQL
4. Java

### Some of the commonly used libraries used by Data Scientists include:

1. Panda
2. NumPy
3. Matplotlib

 | Data Science Tools |
 |--------------------|
 | Rstudio |
| JupyterNoteBook |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
3 + 3

6

In [3]:
9 - 12

-3

In [4]:
3 - 1

2

#### This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

#### This will convert 200 minutes to hours by diving by 60

In [7]:
200 / 60

3.3333333333333335


## Author
Lautaro Simons